<?php $title = 'Devin_menu';
include('./views/page.header.html');
include('./sys/load_used_iso.php');
?>

<div id="main-container">
	<div id="center-block">
		<!-- cette formulaire sert à choisir la langue de jeu-->
		<form id="select_lang">
			<h2><?php echo $lang['learning'];?>
				<!--select name="chooseLang" size="1" id="chooseLang" onchange="saveLangue()">
					<?php
						//keep for when we want to have people play languages they don't speak…
						foreach ($usedIsos as $short => $long) {
							echo "<option value='" . $short."'" ;
							if(isset($_SESSION["langDevin"]))
								{
									if(strcmp($_SESSION["langDevin"],$short) == 0){ echo " selected"; }
								}
							elseif (strcmp($user->langGame,$short) == 0) { echo " selected"; }
							echo ">" . $long . "</option>";
						}
					?>
				</select-->
				<select name="chooseLang" size="1" id="chooseLang" onchange="changeParameters('Devin','lang')">
					<?php
						foreach (explode(';',$user->spoken_lang) as $l) {
							if (strlen($l) > 0) {
								$code = $lang_iso->language_code_for($l);
								echo "<option value=" . $code ;
								if (strcmp($user->langGame,$code) == 0) { echo " selected"; }
								echo ">" . $l . "</option>";
							}
						}
					?>
				</select>
				<?php include_once("./views/level.menu.php");
						print_level_choice('Devin',$lang,$user);
				?>
			</h2>
		</form>
		<h2><?php echo $lang['start']; ?></h2>
		<ul id="modes" class="nav nav-tabs">
			<li type="button"  id="start" class="btn btn-primary btn-lg btn-block" >
				<a href="?mode=diviner.game" title="diviner_game"><?php echo $lang['game']; ?></a>
			</li>
		</ul>
	</div>
</div>

<script>
function saveLangue() {
	$.post("devinLangue.php","lang="+$('#chooseLang').val(),function (response){void window.location.reload();
	});
}
</script>

<?php
include('./views/page.footer.html');
?>
