<?php
$title = 'Information';
include('./views/page.header.html');
?>
<div id="main-container">
		<script type="text/javascript" src="./controllersJS/tabs.js"></script>
		<script type="text/javascript">
		var tabs = new TabMenu(
			['rules','about','niouzes'],
			["<?php echo $lang['rules']; ?>",
			 "<?php echo $lang['about']; ?>",
			 "<?php echo $lang['niouzes']; ?>"]
		);
		window.onload = function(){
			tabs.init('onglets');
			tabs.switchTo('niouzes');
		}
		</script>
		<div id="infos-container">
			<div id="onglets">
			</div>
			<div id="contenu-onglets">
				<div class="contenu_onglet" id="contenu_onglet_rules">
					<div class="row">
						<div class="col-md-9" role="main">
					<?php include('./views/rules.' . $GLOBALS['user']->userlang . '.html');?>
						</div>
					</div>
				</div>
				<div class="contenu_onglet" id="contenu_onglet_about">
					<div class="row">
						<div class="col-md-9" role="main">
					<?php include('./views/about.' . $GLOBALS['user']->userlang . '.html');?>
						</div>
					</div>
				</div>
				<div class="contenu_onglet" id="contenu_onglet_niouzes">
					<div class="row">
						<div class="col-md-9" role="main">
					<?php include('./views/news.' . $GLOBALS['user']->userlang . '.html');?>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<?php
include('./views/page.footer.html');
?>
