<?php
if(!isset($lang)){
	include('./languages/language.php');
}
$title = $lang['scores'];
include('./views/page.header.html');
?>
<script type="text/javascript" src="./sys/sorttable.js"></script>
<div id="main-container">
	<h2><?php echo $lang['global_score']; ?></h2>
	<?php
		echo $theScore->languages[GlobalScoreTable::ALL_LANG];
	?>
	<h2><?php echo $lang['scores_by_language']; ?></h2>
	<?php foreach($theScore->languages as $langue => $table){
			if($langue !== GlobalScoreTable::ALL_LANG){
				echo "<h3>".$theScore->lang_iso->any_to_french($langue)."</h3>\n".$table;
			}
		}
	?>
</div>

<?php
include('./views/page.footer.html');
?>
